/*SITE LAYOUT*/

* { margin: 0; }

html, body { background: #295A94 url(images/bg.gif) repeat-x; color: #fff; font: normal 16px/20px "trebuchet ms", verdana, arial, helvetica, sans-serif; height: 100%; }

#header { background: url(images/header.jpg) no-repeat; height: 140px; }

#maincontainer { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em; width: 960px; }

#contentwrapper{ float: left; width: 100%; }

#contentcolumn{ font: normal 0.8em/1.6em arial, helvetica, sans-serif; letter-spacing: 1px; margin-left: 210px; }

#leftcolumn{ font-size: 0.9em; float: left; width: 200px; margin-left: -960px; }

#footer { font: normal 0.8em/1.6em arial, helvetica, sans-serif; letter-spacing: 1px; height: 4em; clear: left; width: 100%; text-align: center; padding: 20px 0 10px 0; }

#push { height: 4em; }

/*NAVIGATION TOP*/

#navtop{position:relative;display:block;height:33px;background:transparent url(images/bgOFF.gif) repeat-x top left;font: bold 0.75em arial,verdana,helvitica,sans-serif;border-top:4px solid #943528;margin-bottom: 30px;}

#navtop ul{margin:0;padding:0;list-style-type:none;width:auto;}

#navtop ul li{display:block;float:left;margin:0;}

#navtop ul li a,#navtop ul li a:visited{display:block;float:left;color:#555;text-decoration:none;padding:10px 20px 0 20px;height:24px;background:transparent url(images/bgDIVIDER.gif) no-repeat top right; letter-spacing: 1px; text-transform: uppercase; outline: none; }

#navtop ul li a:hover{color:#943528;
background:#fff url(images/bgON.gif) repeat-x;}

/*NAVIGATION LEFT*/

#navleft { font: bold 0.8em arial,verdana,helvitica,sans-serif; padding-left: 0; margin-left: 0; border-bottom: 1px solid #e5eef7; width: 180px; }

#navleft li { list-style: none; margin: 0; line-height: 3em; border-top: 1px solid #e5eef7; }

#navleft li a,#navleft li a:visited { color: #e5eef7; font-weight: bold; display: block; width: 100%; text-decoration: none; outline: none; text-indent: 10px; text-transform: uppercase; letter-spacing: 1px; }

#navleft li a:hover { background-color: #75a3d8; }

/*SITE STYLES*/

#header h1 { font-size: 1.9em; font-weight: normal; padding: 20px 0 7px 0; margin: 0; text-align: right; }

* html #header h1 { padding: 20px 0 0 0; margin: 0; }

#header h2 { font-size: 1.2em; font-weight: normal; margin: 0; text-align: right; }

h1,h2,h3,h4 { margin: 0 0 18px 0; font-family: "trebuchet ms", verdana, arial, helvetica, sans-serif; clear: both; }

h2 { color: #e5eef7; font-size: 1.9em; }

h3 { border-bottom: 1px solid #e8ccad; color: #e8ccad; font-size: 1.5em; padding-bottom: 2px; }

h4 { font-size: 1.1em; padding: 0; margin: 0; }

#contentcolumn a, #contentcolumn a:link, #contentcolumn a:visited { background: url(images/link.gif) no-repeat; color: #e5eef7; font-weight: bold; letter-spacing: 1px; padding-left: 22px; outline: none; }

#contentcolumn a:hover { color: #fff; text-decoration: none; }

#footer a { color: #e5eef7; font-weight: bold; letter-spacing: 1px; outline: none;  }

#footer a:hover { color: #fff; text-decoration: none; }

#contentcolumn p { padding: 0 0 18px 0; }

#contentcolumn img { border: 1px solid #002245; }

#contentcolumn ul { list-style-type: square; margin: 0 0 18px 40px; padding: 0; }

p.imgLeft { float: left; font: normal 0.85em/16px arial, helvetica, sans-serif; width: 100px; margin: 4px 0 0 0; }

p.flowRight { margin-left: 120px; }

p.imgRight { font: normal 0.85em/16px arial, helvetica, sans-serif; float: right; width: 100px; margin: 4px 0 0 0; }

p.flowLeft { margin-right: 120px; }

/*CONTACT FORM STYLES*/

#contentcolumn form { margin-bottom: 18px; }

#contentcolumn .form p { width: 375px; clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 155px; border-top: 0; background: url(images/point.gif) repeat-x; height: 1%; }

#contentcolumn .form label { font-weight: bold; float: left; margin-left: -155px; width: 150px; }

#contentcolumn .form input { background-color: #e0ebf5; border: 1px solid #002245; width: 200px; margin-top: 5px; padding: 5px; }

#contentcolumn .form textarea { background-color: #e0ebf5; font: normal 1em/20px "trebuchet ms", verdana, arial, helvetica, sans-serif; padding: 5px; border: 1px solid #002245; width: 300px; height: 150px; }

#contentcolumn .form .submit { color: #fff; border: 1px solid #fff; background-color: transparent; font-weight: bold; padding: 2px 0 2px 0; width: 120px; }

#contentcolumn #buttons { margin-left: 156px; }

* html #contentcolumn #buttons { margin-left: 159px; }